* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    min-height: 100%;
    position:relative;
}

header {
    display: flex;
    height: 75px;
    justify-content: space-between;
    padding: 15px;
    
    align-items: center;
}

.logo img {
    max-height: 60px;
    margin-top:4%;
}

.nombre{
    border-radius: 20px;
    background-color: #52414C;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
}

nav ul{
    font-weight: 1000;
    padding-right: 20px;
}

.nav-item{
    display: inline-flex;
    flex-direction: row;
}

.nav-element{
    display: inline;
    align-self: center;
    padding: 10px;
}

li a:hover, a:active{
    color: #52414C;
    text-decoration-line: underline;
    cursor: pointer;
    border-radius: 10px;
}


body {
    background: #596157;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #CFD186, #596157);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cfd186, #596157); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: stretch;
    margin: auto;

}

ul{
    text-decoration: solid;
    color:#E3655B;
}

a { 
    text-align: center;
    text-decoration: solid;
    color:#E3655B;
}

button{
    border-radius: 10px;
    background-color: #CFD186;
    padding: 4px;
    color:#E3655B;
    font-weight: 600;
    border:none;
    
}

main a{
    color:#CFD186;
}

button:hover, button:active{
    background-color: #8bb78b;
    color: black;
    cursor: pointer;
    border:none;
}
/* secciones*/
main{
    display: flex;
    align-items:center;
    margin: 0px;
    height: auto;
    background-color:#5B8C5A;
    border-radius: 5px;
    border: solid #52414C 2px   ;
    padding:10px;
    justify-content: space-evenly;
    
    
    
}

small{
    font-weight: 400;
}

.quienes-somos{
    margin: 0 10% 0 10%;
}

.left-presentation{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.right-presentation{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.accesos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:6%;
    margin-top: 4%;
}

section{
    margin-bottom: 40px;
    margin-top: 40px;
    box-sizing: border-box;
}

.img-main{
    border-radius:10px;
}

.img-pagos{
    border-radius: 10px;
    max-height: 280px;
}

.contacto-texto-iconos{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center

}


.texto-secciones{
    text-align: center;
    max-width: 600px;
    padding: 10px;
    
}

.payment-others{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:stretch;
    flex-grow: 2;
    margin: 10px 10% 10px 10%;
    gap:1%;
   
}


.texto-pagos{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: space-around;
}

.cert-discount{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1%;
    margin-top: 4%;
}

.mapa{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    height: 44%
}

.btn-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40%;
    margin-top: 4%;
    font-size: 20px;
}




.contact-btn{
    color:#CFD186;
}

.btn-section i:hover{
    color: black;
}

.mapamini a:hover{
    color: black;
}


.pie{
    border: 1px;
    height:fit-content;
    box-sizing: content-box;
    bottom: 0rem;
    width:100%;
    background-color: #52414C;
    margin-bottom:0px;
    position:relative;
    bottom:auto;

}

.footer-links{
    height: 60px;
    justify-content:baseline;
    padding: 1.5%;
    align-items:stretch;
    display: flex;
    flex-direction: column;
    text-align: right;
    list-style: none;
    margin-bottom: 2rem;
}

.footer-links li a:hover{
    color:#CFD186;
    text-decoration-line: underline;
    cursor: pointer;   

}


.finger{
    margin-left: 20px;
}

.author-link{
 text-align: right;   
 padding-top: 1.5%;
 padding-right: 1.5%;
 font-style: italic;
 font-size: small;
}

.author-link a:hover{
    color:#CFD186;
    text-decoration-line: underline;
    cursor: pointer;   
}